doctype html
html(lang='en')
  head
    title BVCA v2
    meta(charset='utf-8')

  body
    h1 BVCA Private Equity Map
    h2 Unsupported browser
    h3 This browser is completely unsupported. it will not work at all
    p Please try one of :
      ul
        li
          a(href='http://www.google.com/chrome/') Chrome
        li
          a(href='http://www.mozilla.org/en-US/firefox/new/') Firefox
        li
          a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie') Internet Explorer v9 or newer
